#about-section {
    .container {
        text-align: center;
        margin: auto;
        .section-content {
            img {
                max-width: 120px;
                height: auto;
                text-align: center;
                margin: 2rem auto 2rem auto;
                border-radius: 50%;
            }
            p {
                text-align: center;
                margin: 1rem auto 1rem auto;
                width: 70%;
                line-height: 2.5;
                font-size: 1rem;

                i {
                    font-style: italic;
                }
                em {
                    font-weight: 700;
                }
            }

            .larger-text {
                font-size: 1.25rem;
                line-height: 2;
                font-weight: 400;
            }
        }
    }
}