#features {
    .container {
        width: 95%;
        max-width: 95%;
        header {
            margin-bottom: 1rem;
            h3 {
                //margin-bottom: 0;
            }
        }
        .section-content {
            ul {
                @extend %inline-icon-grid-list;
            }
        }
    }
}

