#gallery {
    .container {
        .section-content {
            ul {
                @include flexArrange(h, space-around);
                flex-wrap: wrap;
                li {
                    flex: 1 1 20%;
                    margin: 1rem;
                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}